<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-TYpe'/>
    </head>
    <body>
        <%= @user[:name] %> 様<br>
        <br>
        <pre>
            <br>
            <%= print @folder_vpath %>内のファイルが削除されました。<br>
            <%= print @vpath_list %><br>
        </pre>
    </body>
</html>
