<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-TYpe'/>
    </head>
    <body>
        <pre>
            <br>
            <%= $urlLink %><br>
        </pre>
    </body>
</html>
