<!DOCTYPE html>
<html>
<head>
  <title>SecretFiles login</title>
  <link type="text/css" href="/app/assets/stylesheets/application.css">
  <script src="/app/assets/javascripts/application.js" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
